.about {
    padding: 22px 0 52px;
    background: linear-gradient(180deg, rgba(0, 16, 14, 0) 0%, rgba(0, 16, 14, 0.97) 89.35%),
        url(../images/about-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    &__title {
        margin-bottom: 16px;
    }
    &__info {
        margin-bottom: 20px;
    }
    &__text {
        font-size: 14px;
        line-height: 120%;
        text-align: center;
        letter-spacing: 0.03em;
        &:first-child {
            margin-bottom: 20px;
        }
    }
}

.about-item {
    margin: 0 auto;
    margin-bottom: 36px;
    width: 210px;
    text-align: center;
    &:last-child {
        margin-bottom: 0;
    }
    svg {
        margin-bottom: 12px;
        fill: $light;
    }
    &__text {
        white-space: pre-line;
        font-weight: 500;
        font-size: 16px;
        line-height: 120%;
        letter-spacing: 0.05em;
    }
}

@media (min-width: $tablet-width) {
    .about {
        padding: 30px 0 60px;
        background: linear-gradient(180deg, rgba(0, 16, 14, 0) 0%, rgba(0, 16, 14, 0.97) 89.35%),
            url(../images/about-bg-desktop.png);
        &__title {
            margin-bottom: 35px;
        }
        &__info {
            display: grid;
            grid-template-columns: 2fr 1fr;
            grid-gap: 15px;
            margin-bottom: 60px;
        }
        &__text {
            text-align: left;
            &:first-child {
                margin-bottom: 0;
                line-height: 130%;
            }
        }
        &__list {
            display: flex;
            justify-content: space-between;
        }
    }
    .about-item {
        margin-bottom: 0;
    }
}

@media (min-width: $large-tablet-width) {
    .about {
        padding: 50px 0 100px;
        &__info {
            margin-bottom: 80px;
        }
        &__text {
            font-size: 15px;
        }
        &__list {
            width: 965px;
            margin: 0 auto;
        }
    }
}

@media (min-width: $desktop-width) {
    .about {
        padding: 50px 0 116px;
        &__title {
            margin-bottom: 56px;
        }
        &__info {
            grid-gap: 120px;
            margin-bottom: 118px;
        }
        &__text {
            white-space: pre-line;
            font-size: 18px;
            line-height: 130%;
            letter-spacing: 0.03em;
        }
    }
    .about-item {
        svg {
            transform: scale(1.25);
            margin-bottom: 24px;
        }
        &__text {
            font-size: 20px;
        }
    }
}
