.benefits {
    padding: 22px 0 58px;
    &__header {
        max-width: 1180px;
        margin: 0 auto;
        padding: 0 20px;
        margin-bottom: 40px;
    }
    &__title {
        margin-bottom: 20px;
    }
    &__subtitle {
        width: 240px;
        margin: 0 auto;
        font-weight: normal;
        font-size: 18px;
        line-height: 120%;
        text-align: center;
    }
    &__logo {
        display: none;
    }
}

.benefits-item {
    margin-bottom: 26px;
    &:last-child {
        margin-bottom: 0;
    }
    &__header {
        display: flex;
        align-items: center;
        margin-bottom: 12px;
        svg {
            margin-right: 12px;
            fill: $light;
        }
    }
    &__title {
        font-weight: 500;
        font-size: calc(14px + 16 * ((100vw - 320px) / (1280 - 320)));
        line-height: 120%;
    }
    &__text {
        font-size: calc(13px + 16 * ((100vw - 320px) / (1280 - 320)));
        line-height: 125%;
    }
}

@media (min-width: $tablet-width) {
    .benefits {
        padding: 40px 0 60px;
        &__header {
            position: relative;
            overflow: hidden;
            margin-bottom: 50px;
            padding: 0 30px;
        }
        &__subtitle {
            width: auto;
            text-align: left;
        }
        &__logo {
            display: block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: -47px;
            font-weight: 500;
            font-size: 60px;
            line-height: 119.5%;
            letter-spacing: 0.05em;
            color: transparent;
            -webkit-text-stroke: 1px rgba(0, 122, 111, 0.29);
        }
        &__list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }
    .benefits-item {
        width: calc(93% / 2);
        &:nth-child(5n) {
            margin-bottom: 0;
        }
        &__header {
            margin-bottom: 18px;
        }
        &__title {
            font-size: 20px;
        }
        &__text {
            font-size: 14px;
        }
    }
}

@media (min-width: $large-tablet-width) {
    .benefits {
        padding: 50px 0 80px;
        &__logo {
            right: -24px;
            font-size: 80px;
        }
    }
}

@media (min-width: $desktop-width) {
    .benefits {
        padding: 75px 0 104px;
        &__header {
            margin-bottom: 84px;
            padding: 0;
        }
        &__title {
            margin-bottom: 36px;
        }
        &__subtitle {
            font-size: 22px;
        }
        &__logo {
            right: 0;
        }
    }
    .benefits-item {
        margin-bottom: 56px;
        width: 359px;
        &:nth-child(4n) {
            margin-bottom: 0;
        }
        &__header {
            margin-bottom: 36px;
        }
        svg {
            margin-right: 18px;
            width: 50px;
            height: 50px;
        }
        &__text {
            font-size: 16px;
            line-height: 130%;
        }
    }
}