@font-face {
    font-family: "Avenir Next";
    font-style: normal;
    src: url(../fonts/AvenirNextCyr-Regular.woff2),
    url(../fonts/AvenirNextCyr-Regular.woff);
}

@font-face {
    font-family: "";
    font-weight: 500;
    src: url(../fonts/AvenirNextCyr-Medium.woff2),
    url(../fonts/AvenirNextCyr-Medium.woff);
}