.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Avenir Next", Arial, sans-serif;
  font-size: 22px;
  font-weight: 500;
  color: $light;
  background-color: $dark;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  @include reset-style;
}

a {
  color: $light;
  text-decoration: none;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 20px;
}

.button {
  display: block;
  padding: 11px 20px;
  text-align: center;
  font-size: 13px;
  line-height: 18px;
  color: $light;
  background: linear-gradient(180deg, #007a6f 0%, #004943 100%);
  border-radius: 10px;
  width: 200px;
  border: none;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  &:hover {
    box-shadow: inset 0 0 15px rgba(210, 222, 218, 0.4);
  }
}

.title {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding-bottom: 5px;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  &:after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $light;
  }
}

@media (min-width: $tablet-width) {
  .container {
    padding: 0 30px;
  }
  .title {
    left: 0;
    transform: translateX(0);
    padding-bottom: 8px;
    font-size: 24px;
    line-height: 29px;
    &:after {
      width: 120%;
    }
  }
}

@media (min-width: $desktop-width) {
  .container {
    padding: 0;
  }
  .title {
    font-size: 45px;
    line-height: 119.5%;
    letter-spacing: -0.02em;
  }
}
