.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Avenir Next", Arial, sans-serif;
  font-size: 22px;
  font-weight: 500;
  color: $light;
  background-color: $dark;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul,h1,h2,h3,h4,h5,h6,p {
  @include reset-style;
}

a {
  color: $light;
  text-decoration: none;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 20px;
}

.button {
    display: block;
    padding: 11px 20px;
    text-align: center;
    font-size: 13px;
    line-height: 18px;
    color: $light;
    background: linear-gradient(180deg, #007A6F 0%, #004943 100%);
    border-radius: 10px;
    width: 200px;
    border: none;
    cursor: pointer;
    &:hover {
      box-shadow: inset 0px 0px 15px rgba(210, 222, 218, 0.4);
      transition: .6s;
    }
}

@media (min-width: $tablet-width) {
  .container {
    padding: 0 30px;
  }
}

@media (min-width: $desktop-width) {
  .container {
    padding: 0;
  }
}