.logo {
    &__text {
        position: relative;
        top: -5px;
        font-weight: 500;
        font-size: 13px;
        line-height: 18px;
    }
}

.top-bar {
    margin-bottom: 54px;
}

.header {
    &__title {
        margin-bottom: 15px;
        text-align: center;
        white-space: pre-line;
        font-weight: 500;
        font-size: 28px;
        line-height: 32px;
    }
    &__subtitle {
        margin-bottom: 20px;
        white-space: pre-line;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
    }
    &__button {
        margin: 0 auto;
        margin-bottom: 18px;
    }
}

.header-slider__item {
    position: relative;
}

.header-slider__img {
    width: 100%;
    height: auto;
}

.slick-arrow {
    position: absolute;
    bottom: 14px;
}
.left {
    left: 5px;
    z-index: 9;
}
.right {
    left: 95px;
    z-index: 9;
}

.slick-dots {
    position: absolute;
    left: 0;
    bottom: 6px;
    display: flex;
    width: 120px;
    height: 35px;
    background: rgba(210, 222, 218, 0.9);
    button {
        display: none;
        padding: 0 10px;
        background-color: transparent;
        border: none;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
    }
}

.slick-active {
    button {
        display: block;
        position: absolute;
        top: 10px;
        left: 41%;
        transform: translateX(-50%);
        &:after {
            position: absolute;
            content: ' | 3';
            top: 0px;
            left: 19px;
            width: 15px;
        }
    }
}
