.modal-project {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 280px;
    padding: 56px 20px 34px;
    background-color: #001a16;
    border-radius: 20px;
    z-index: 14;
    &__img {
        margin-bottom: 15px;
        border-radius: 5px;
    }
    &__title {
        margin-bottom: 15px;
        text-align: center;
        font-weight: 500;
        font-size: 18px;
        line-height: 120%;
    }
    &__text {
        font-size: 14px;
        line-height: 125%;
        letter-spacing: -0.01em;
    }
    &__close {
        font-size: 0;
        position: absolute;
        top: 10px;
        right: 20px;
        width: 24px;
        height: 24px;
        background-color: transparent;
        border: 0;
        cursor: pointer;
        &::before,
        &::after {
            position: absolute;
            content: "";
            top: 20px;
            right: -3px;
            width: 25px;
            height: 1px;
            background-color: $light;
        }
        &::before {
            transform: rotate(-45deg);
        }
        &::after {
            transform: rotate(45deg);
        }
    }
}

.modal-show,
.overlay-show {
    display:block;
}

@media (min-width: $tablet-width) {
    .modal-project {
        padding: 64px 75px 50px;
        width: 600px;
        &__img {
            width: 100%;
            height: auto;
        }
        &__title {
            font-size: 22px;
        }
        &__text {
            font-size: 16px;
        }
        &__close {
            display: none;
        }
    }
}

@media (min-width: $large-tablet-width) {
    .modal-project {
        width: 800px;
        &__img {
            margin-bottom: 25px;
        }
        &__title {
            margin-bottom: 25px;
        }
        &__text {
            font-size: 19px;
            line-height: 130%;
        }
    }
}
